<%- partial('_partial/head') %>

<body>
<div class="page">
  <header><%- partial('_partial/header') %></header>
  <main>
    <div id="articleList">
      <%- body %>
    </div>
  </main>
  <footer><%- partial('_partial/footer') %></footer>
  <%- partial('_partial/after_footer') %></div>
</body>
</html>