<ol class="workList">
  <% site.posts.each(function (item) {
      if (item.tags.first().name == 'work') { %>
  <li>
    <div class="inner">
      <a href="<%- config.root + item.path %>"><%= item.title %></a>
      <%= item.excerpt %>
      <a href="<%- config.root + item.path %>"><%= theme.excerpt_link %></a>
    </div>
  </li>

  <% }
  }) %>

</ol>