<ol class="workList">
  <% site.posts.each(function (item) { %>
  <% if (item.categories && item.categories.first().name == 'work') { %>
  <li>
    <a class="inner" href="<%- config.root + item.path %>">
      <h3><%= item.title %></h3>

      <div><img src="<%= item.thumb %>" alt="<%= item.title %>" title="<%= item.title %>"/></div>

      <%- item.excerpt %>
    </a>
  </li>

  <% }
  }) %>

</ol>