<header>
  <figure>
    <img id="myAvatar" width="80" height="80" src="http://www.gravatar.com/avatar/9eb5227d1d98e4a1796d60216d6b8327?s=80" alt="Frank Fang"/>
  </figure>
  <hgroup>
    <h1><a href="<%- config.root %>"><%= config.title %></a></h1>

    <h3>
      <% if (config.subtitle){ %>
      <%= config.subtitle %>
      <% } %>
    </h3>
  </hgroup>
  <nav id="siteNav">
    <ul>
      <% for (var i in theme.menu){ %>
      <li><a href="<%- theme.menu[i] %>"><%= i %></a></li>
      <% } %>
    </ul>
  </nav>
</header>
